<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Shop</title>

  <!-- bootstrap style -->
  <link rel="stylesheet" href="./../libs/Bootstrap/bootstrap.min.css">

  <!-- general style -->
  <link rel="stylesheet" href="./../css/general-style/general.css">

  <!-- about page style -->
  <link rel="stylesheet" href="./../css/about-style/about-style.css">

</head>
<body>
  
  <!-- navbar -->
  <!-- start -->
  <nav class="navbar pt-4 navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="./../images/logo.png" alt="book, find book" class="nav-logo"/></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

        </ul>
        <div class="d-flex">
          <button class="btn me-md-2 signup"><a href="#">Sign Up</a></button>
          <button class="btn login"><a href="#">Login</a></button>
        </div>
      </div>
    </div>
  </nav>
  <!-- end -->

  <!-- about section -->
  <!-- start -->
  <section class="about">
    <div class="container">
      <div class="d-flex flex-column-reverse flex-lg-row">
        <div class="left-side w-50">
          <div class="info mb-3">
            <h3 class="mb-2">Who we are?</h3>
            <p>we are modern group of youth that decide to start their own business and we decide that business will be a book shop.</p>
          </div>
          <div class="info mb-3">
            <h3 class="mb-2">Why are wespecial ?</h3>
            <p>we are special as we are first book shop that give that special prices with high quality and amazing desgin also we deliver your order to home.</p>
          </div>
          <div class="info mb-3">
            <h3 class="mb-2">Our location</h3>
            <p>we are modern book shop based on Munuf, Al Minofia, Egypt.
              we will be very happy by your visit.</p>
          </div>
        </div>
        <div class="right-side w-50">
          <img src="./../images/about-hero.png" alt="person-learn-info">
        </div>
      </div>
    </div>
  </section>
  <!-- end -->

  <!-- jQuery -->
  <script src="./../libs/jQuery/jquery.min.js"></script>

  <!-- Bootstrap js -->
  <script src="./../libs/Bootstrap/bootstrap.min.js"></script>

</body>
</html>